extends layout

block content
  h1(class='day')= day
  each paper in papers
    h2= paper.trackTitle
    p <strong>#{paper.startTime} - #{paper.endTime}</strong>
    p <strong>#{paper.lastName1}, #{paper.firstName1}</strong>, #{paper.title}
