extends layout

block content
  div(class='header')
    img(src='http://caa-international.org/wp-content/themes/caa-pink/images/header-int.png' class='caalogo')
    img(src='https://lh3.googleusercontent.com/-mkA9aSolm3s/AAAAAAAAAAI/AAAAAAAAABw/qTf4FZWDymM/s120-p-rw-no/photo.jpg' class='gsulogo')
  h1(class='day')= day + " Morning"
  if (day === 'tuesday') || (day === 'wednesday') || (day === 'thursday')
    - var checkIndex = ''
    - var roomIndex = ''
    each paper in papers
      - var sessionIndex = paper.sessionType
      - var session = sessions[paper.sessionTitle]
      if paper.lastName8
        - var authorString = paper.lastName1 + ', ' + paper.firstName1 + ', ' + paper.firstName2 + ' ' + paper.lastName2 + ', ' + paper.firstName3 + ' ' + paper.lastName3 + ', ' + paper.firstName4 + ' ' + paper.lastName4 + ', ' + paper.firstName5 + ' ' + paper.lastName5 + ', ' + paper.firstName6 + ' ' + paper.lastName6 + ', ' + paper.firstName7 + ' ' + paper.lastName7 + ', ' + paper.firstName8 + ' ' + paper.lastName8
      else if paper.lastName7
        - var authorString = paper.lastName1 + ', ' + paper.firstName1 + ', ' + paper.firstName2 + ' ' + paper.lastName2 + ', ' + paper.firstName3 + ' ' + paper.lastName3 + ', ' + paper.firstName4 + ' ' + paper.lastName4 + ', ' + paper.firstName5 + ' ' + paper.lastName5 + ', ' + paper.firstName6 + ' ' + paper.lastName6 + ', ' + paper.firstName7 + ' ' + paper.lastName7
      else if paper.lastName6
        - var authorString = paper.lastName1 + ', ' + paper.firstName1 + ', ' + paper.firstName2 + ' ' + paper.lastName2 + ', ' + paper.firstName3 + ' ' + paper.lastName3 + ', ' + paper.firstName4 + ' ' + paper.lastName4 + ', ' + paper.firstName5 + ' ' + paper.lastName5 + ', ' + paper.firstName6 + ' ' + paper.lastName6
      else if paper.lastName5
        - var authorString = paper.lastName1 + ', ' + paper.firstName1 + ', ' + paper.firstName2 + ' ' + paper.lastName2 + ', ' + paper.firstName3 + ' ' + paper.lastName3 + ', ' + paper.firstName4 + ' ' + paper.lastName4 + ', ' + paper.firstName5 + ' ' + paper.lastName5
      else if paper.lastName4
        - var authorString = paper.lastName1 + ', ' + paper.firstName1 + ', ' + paper.firstName2 + ' ' + paper.lastName2 + ', ' + paper.firstName3 + ' ' + paper.lastName3 + ', ' + paper.firstName4 + ' ' + paper.lastName4
      else if paper.lastName3
        - var authorString = paper.lastName1 + ', ' + paper.firstName1 + ', ' + paper.firstName2 + ' ' + paper.lastName2 + ', ' + paper.firstName3 + ' ' + paper.lastName3
      else if paper.lastName2
        - var authorString = paper.lastName1 + ', ' + paper.firstName1 + ', ' + paper.firstName2 + ' ' + paper.lastName2
      else if paper.lastName1
        - var authorString = paper.lastName1 + ', ' + paper.firstName1
      if sessionIndex !== checkIndex && paper.ampm === 'morning'
        if session !== undefined
          - var sessionOrgName1 = session.firstNameOrg1 + ' ' + session.lastNameOrg1
          - var sessionOrgName2 = session.firstNameOrg2 + ' ' + session.lastNameOrg2
          - var sessionOrgName3 = session.firstNameOrg3 + ' ' + session.lastNameOrg3
          - var sessionOrgName4 = session.firstNameOrg4 + ' ' + session.lastNameOrg4
          - var sessionOrgName5 = session.firstNameOrg5 + ' ' + session.lastNameOrg5
          - console.log('Organizer 1: ', sessionOrgName1)
          - console.log('Organizer 2: ', sessionOrgName2)
          - console.log('Organizer 3: ', sessionOrgName3)
          - console.log('Organizer 4: ', sessionOrgName4)
          - console.log('Organizer 5: ', sessionOrgName5)
        h2= paper.sessionTitle
          h2!=  '<em> (' + paper.track + ')</em> '
          if sessionOrgName5 !== 'undefined undefined'
            p(class='organizer') Organizers: #{sessionOrgName1}, #{sessionOrgName2}, #{sessionOrgName3}, #{sessionOrgName4}, #{sessionOrgName5}
          else if sessionOrgName4 !== 'undefined undefined'
            p(class='organizer') Organizers: #{sessionOrgName1}, #{sessionOrgName2}, #{sessionOrgName3}, #{sessionOrgName4}
          else if sessionOrgName3 !== 'undefined undefined'
            p(class='organizer') Organizers: #{sessionOrgName1}, #{sessionOrgName2}, #{sessionOrgName3}
          else if sessionOrgName2 !== 'undefined undefined'
            p(class='organizer') Organizers: #{sessionOrgName1}, #{sessionOrgName2}
          else if sessionOrgName1 !== 'undefined undefined'
            p(class='organizer') Organizer: #{sessionOrgName1}
        h3= 'Room: ' + paper.room
        - checkIndex = paper.sessionType
      if paper.ampm === 'morning'
        div(class='paper')
          p(class='time') <strong>#{paper.startTime} - #{paper.endTime}</strong>
          p(class='description') <strong>#{authorString}</strong>, <em>#{paper.title}</em>
  h1(class='day')= day + " Afternoon"
  if (day === 'tuesday') || (day === 'wednesday') || (day === 'thursday')
  - var checkIndex = ''
  - var roomIndex = ''
  each paper in papers
    - var sessionIndex = paper.sessionType
    - var session = sessions[paper.sessionTitle]
    if paper.lastName8
      - var authorString = paper.lastName1 + ', ' + paper.firstName1 + ', ' + paper.firstName2 + ' ' + paper.lastName2 + ', ' + paper.firstName3 + ' ' + paper.lastName3 + ', ' + paper.firstName4 + ' ' + paper.lastName4 + ', ' + paper.firstName5 + ' ' + paper.lastName5 + ', ' + paper.firstName6 + ' ' + paper.lastName6 + ', ' + paper.firstName7 + ' ' + paper.lastName7 + ', ' + paper.firstName8 + ' ' + paper.lastName8
    else if paper.lastName7
      - var authorString = paper.lastName1 + ', ' + paper.firstName1 + ', ' + paper.firstName2 + ' ' + paper.lastName2 + ', ' + paper.firstName3 + ' ' + paper.lastName3 + ', ' + paper.firstName4 + ' ' + paper.lastName4 + ', ' + paper.firstName5 + ' ' + paper.lastName5 + ', ' + paper.firstName6 + ' ' + paper.lastName6 + ', ' + paper.firstName7 + ' ' + paper.lastName7
    else if paper.lastName6
      - var authorString = paper.lastName1 + ', ' + paper.firstName1 + ', ' + paper.firstName2 + ' ' + paper.lastName2 + ', ' + paper.firstName3 + ' ' + paper.lastName3 + ', ' + paper.firstName4 + ' ' + paper.lastName4 + ', ' + paper.firstName5 + ' ' + paper.lastName5 + ', ' + paper.firstName6 + ' ' + paper.lastName6
    else if paper.lastName5
      - var authorString = paper.lastName1 + ', ' + paper.firstName1 + ', ' + paper.firstName2 + ' ' + paper.lastName2 + ', ' + paper.firstName3 + ' ' + paper.lastName3 + ', ' + paper.firstName4 + ' ' + paper.lastName4 + ', ' + paper.firstName5 + ' ' + paper.lastName5
    else if paper.lastName4
      - var authorString = paper.lastName1 + ', ' + paper.firstName1 + ', ' + paper.firstName2 + ' ' + paper.lastName2 + ', ' + paper.firstName3 + ' ' + paper.lastName3 + ', ' + paper.firstName4 + ' ' + paper.lastName4
    else if paper.lastName3
      - var authorString = paper.lastName1 + ', ' + paper.firstName1 + ', ' + paper.firstName2 + ' ' + paper.lastName2 + ', ' + paper.firstName3 + ' ' + paper.lastName3
    else if paper.lastName2
      - var authorString = paper.lastName1 + ', ' + paper.firstName1 + ', ' + paper.firstName2 + ' ' + paper.lastName2
    else if paper.lastName1
      - var authorString = paper.lastName1 + ', ' + paper.firstName1
    if sessionIndex !== checkIndex && paper.ampm === 'afternoon'
      if session !== undefined
        - var sessionOrgName1 = session.firstNameOrg1 + ' ' + session.lastNameOrg1
        - var sessionOrgName2 = session.firstNameOrg2 + ' ' + session.lastNameOrg2
        - var sessionOrgName3 = session.firstNameOrg3 + ' ' + session.lastNameOrg3
        - var sessionOrgName4 = session.firstNameOrg4 + ' ' + session.lastNameOrg4
        - var sessionOrgName5 = session.firstNameOrg5 + ' ' + session.lastNameOrg5
        - console.log('Organizer 1: ', sessionOrgName1)
        - console.log('Organizer 2: ', sessionOrgName2)
        - console.log('Organizer 3: ', sessionOrgName3)
        - console.log('Organizer 4: ', sessionOrgName4)
        - console.log('Organizer 5: ', sessionOrgName5)
      h2= paper.sessionTitle
        h2!=  '<em> (' + paper.track + ')</em>'
        if sessionOrgName5 !== 'undefined undefined'
          p(class='organizer') Organizers: #{sessionOrgName1}, #{sessionOrgName2}, #{sessionOrgName3}, #{sessionOrgName4}, #{sessionOrgName5}
        else if sessionOrgName4 !== 'undefined undefined'
          p(class='organizer') Organizers: #{sessionOrgName1}, #{sessionOrgName2}, #{sessionOrgName3}, #{sessionOrgName4}
        else if sessionOrgName3 !== 'undefined undefined'
          p(class='organizer') Organizers: #{sessionOrgName1}, #{sessionOrgName2}, #{sessionOrgName3}
        else if sessionOrgName2 !== 'undefined undefined'
          p(class='organizer') Organizers: #{sessionOrgName1}, #{sessionOrgName2}
        else if sessionOrgName1 !== 'undefined undefined'
          p(class='organizer') Organizer: #{sessionOrgName1}
      h3= 'Room: ' + paper.room
      - checkIndex = paper.sessionType
    if paper.ampm === 'afternoon'
      div(class='paper')
        p(class='time') <strong>#{paper.startTime} - #{paper.endTime}</strong>
        p(class='description') <strong>#{authorString}</strong>, <em>#{paper.title}</em>
